@mixin flex_one{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
@mixin flex_two {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex_three {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex_four {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}