@import "../../styles/mix.scss";
@import "../../styles/com.scss";
.purchaseInfo{
   .list{
        padding: 30px 0;
        margin-left: 30px;
        border-bottom: 1px solid #E5E5E5;
        
        .title{
            @include flex_two;
            font-size: 30px;
            color: #222;
            padding-right: 30px;
            margin:5px 0 23px 0;
        }
        .node{
            @include flex_two;
            padding-right: 30px;
            font-size:26px;
            color: #777;
            .btn{
                width:256px;
                height:64px;
                line-height: 60px;
            }
        }
    }

}