@import "../../styles/mix.scss";
@import "../../styles/com.scss";
.addshop{
    padding: 0 30px;
    .shop{
        flex-direction: column;
        .shoplist{
            @include flex_two;
            width: 100%;
            margin-top: 20px;
            .list-left{
                @include flex_four;
                .main{
                    @include flex_five;
                    margin-left: 5px;
                    .shopname{
                        font-size:28px;
                        color: #555;
                    }
                    .shopcode{
                        font-size:24px;
                        color: #999;
                    }
                }
            }
            .inputfont{
                width:220px;
                height:60px;
                border-radius:10px;
                background: #F2F2F2;
                text-align: center;
                font-size: 28px;
                color: #555;
            }
           
        }
    }
    
    .footer{
        @include footer;
    }
}
